@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 

/* === общие стили === */

body{
    font-family:"TT Lakes", sans-serif;
    margin:0;
    background-color: #F8F8F8;
   
}
.title{
    border-top: 2px solid #B8FFEC;
    color:#7E7E82;
    background:linear-gradient(90deg, #F8F8F8,white);
    display: flex;
    height: 56px;
    width:100%;
    align-items: center;
}
.title_text{
    margin-left: 32px;
}
main{
    display: flex;
    flex-flow: column;
    margin:32px;
    height: 100vh;
    max-height:350px ;
}
.container,  .for1120{
    display:flex;
    flex-flow: row wrap;
    gap:16px 32px;
}
.button_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    padding: 0 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width:240px;
    height:72px;
}
.button_container__logo{
    height: 52px;
}
.button_container__logo-big{
    height:32px;
}
.button_container__logo-medium{
    height:24px;
}
.button_container__go{
    height:40px;
}
.button_expand{
    font-family:"TT Lakes", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: auto;
    border:none;
    width:150px;
    background-color:#F8F8F8 ;
}
.button_expand__ic{
    height: 24px;
}

@media (max-width:768px) {
    .button_container{
        width:224px;
    }
}