@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 

/* === общие стили === */

body{
    font-family:"TT Lakes", sans-serif;
    margin:0;
    background-color: #F8F8F8;
}
.title{
    border-top: 2px solid #B8FFEC;
    color:#7E7E82;
    background:linear-gradient(90deg, #F8F8F8,white);
    display: flex;
    height: 56px;
    width:100%;
    align-items: center;
}
.title_text{
    margin-left: 16px;
}
main{
    display: flex;
    flex-flow: column;
    height: 100vh;
    max-height:398px ;
    margin: 16px;
}
.container{
    display:flex;
    flex-flow: row wrap;
    gap:32px;
}
.button_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width:240px;
    height:72px;
}
.button_container__logo{
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
}
.button_container__go{
    height:40px;
    object-fit: contain;
}
.button_expand{
    display: flex;
    align-items: center;
    margin-top: auto;
}
.button_expand__ic{
    height: 24px;
}

